{
  "useTabs": false,
  "tabWidth": 2,
  "printWidth": 100,
  "singleQuote": false,
  "jsxSingleQuote": true,
  "jsxBracketSameLine": false,
  "trailingComma": "none",
  "semi": true,
  "endOfLine": "lf",
  "bracketSpacing": true,
  "bracketSameLine": false,
  "arrowParens": "always",
  "requirePragma": false,
  "insertPragma": false,
  "vueIndentScriptAndStyle": false,
  "embeddedLanguageFormatting": "auto"
}
